.main {
    display: flex;
}

/* CSS for left side */
.main__left {
    float: left;
    width: 20%;
    background-color: #cce3de;
}

.main__left-heading {
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
}

.main__left-heading-ul {
    padding-left: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.main__left-heading-ul-li:hover {
    background-color: #a4c3b2;
}

.main__left-heading-ul-li {
    padding: 10px 10px;
    background-color: #bcd3ce;
    border: .5px solid #a4c3b2;
    margin: 7px 0px;
}

.themes {
    margin-top: 10px;
}

.main__left-heading-text {
    text-align: center;
}

/* CSS on body */
.main__right {
    padding-left: 8%;
}

.main__right-nav {
    box-sizing: 150%;
}

.heading {
    text-align: center;
}

.main__right-table {
    border: 1px solid #a4c3b2;
    margin: 0px;
}

.main__right-table-heading {
    background-color: #bcd3ce;
}

table, td, tr {
    border: 1px solid #a4c3b2;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

/* CSS for quick links */
.main__right-quick-heading{
    text-align: center;
}
.main__right-quick-item {
    display: flex;
}
.main__right-quick-item > ul{
    list-style: none;
}
.main__right-quick-item span:hover {
    background-color: #a4c3b2;
}